div.periodContainer {
    background-color: rgba(200, 200, 255, 0.1);
    margin: 1em;
    border-width: thick;
    border-radius: 1em;
    border-color: rgba(0, 0, 0, 0.3);
    border-style: inset;
    display: flex;
    flex-direction: column;

    div.header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5em 1em 0;

        div.titleText {
            flex-grow: 2;
            font-weight: bold;
            font-style: italic;
        }

        div.buttonBox {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            button {
                background-color: rgba(0, 0, 0, 0.3);
                border-color: rgba(0, 0, 0, 0.3);
                border-radius: 0.5em;
                color: #ff8;
                margin: 0 0.1em 0;
                padding: 0.1em;
            }
        }
    }
}



div.periodContent {
    display: flex;
    flex-direction: column;
    align-items: center;

}

