<div class="messageBox">
    <div class="wrapper">
        <h1>
            {{ msgBoxParams.title }}
        </h1>
        <div class="message">
            {{ msgBoxParams.message }}
        </div>
        <div class="buttonBox">
            <button *ngIf="displayOkButton()" (click)="onClickOkButton()">OK</button>
            <button *ngIf="displayCancelButton()" (click)="onClickCancelButton()">Annuler</button>
            <button *ngIf="displayYesButton()" (click)="onClickYesButton()">Oui</button>
            <button *ngIf="displayNoButton()" (click)="onClickNoButton()">Non</button>
        </div>
    </div>
</div>