<div class="form">
    <div class="header">
        <h1>{{ update ? "Modifier la période" : "Nouvelle Période" }}</h1>
    </div>
    <div class="formGroup">
        <form [formGroup]="form" (submit)="onSubmitForm()">

            <div class="formComponent">
                <label for="title">Titre</label>
                <input type="text" name="title" placeholder="Titre de la période" formControlName="formTitle">
            </div>
            <div class="formComponent">
                <label>Début</label>
                <div class="dateTime">
                    <input type="date" name="periodStartDate" formControlName="formStartDate" >
                    <input type="time" name="periodStartTime" formControlName="formStartTime" >
                </div>
            </div>
            <div class="periodStart formComponent" *ngIf="currentPeriod.stop">
                <label>Fin</label>
                <div class="dateTime">
                    <input type="date" name="periodEndDate" formControlName="formEndDate"  >
                    <input type="time" name="periodEndTime" formControlName="formEndTime"  >
                </div>
            </div>
            <div class="formComponent validCancel" >
                <button type="submit" class="submit">Enregistrer</button>
                <button (click)="onClickButtonCancel()" class="cancel">Annuler</button>
            </div>

        </form>
    </div>
</div>