/* You can add global styles to this file, and also import other style files */




html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px;
    background-color: #f0eba8;
}

// mobile first

div.card {
    width: 90%;
    border-width: 2px;
    border-color: gray;
    border-style: ridge;
    border-radius: 10px;
    box-shadow: 5px 5px 3px darkgray;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 5%;
    margin-top: 7px;
}

@media screen and (min-width: 800px) {
    div.card {
        width: 60%;
        margin-left: 20%;
    }

}
@media screen and (min-width: 1200px) {
    div.card {
        width: 50%;
        margin-left: 25%;
    }

}
